
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Raport</title>

    <link rel="stylesheet" type="text/css" href="allReportThatYouCanSee-form.css">

</head>
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid #ddd;
}

th, td {
  text-align: centre;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
<body>

<center>  <h1>AllReportThatYouCanSee</h1></center>

<div id="allReportThatYouCanSee-form-wrapper">

    <center> <table >
        <tr>
            <th>Login </th>
            <th>PointOfSales </th>
            <th>WhenWasLogged</th>
        </tr>
        <form action="/allReportThatYouCanSee" method="post" id="allReportThatYouCanSee-form">

            <div th:each="reportThatYouCanSee : ${allReportThatYouCanSee}">

                <td>  <div  th:text="'  '+${reportThatYouCanSee.login}"></div></td>

                <td>  <div  th:text="' '+${reportThatYouCanSee.pointOfSales}"></div></td>

                <td>   <div  th:text="' '+${reportThatYouCanSee.whenWasLogged}"></div></td><tr></tr>

            </div>

        </form>

    </table></center></div>

</body>

</html>