<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raport</title>
    <link rel="stylesheet" type="text/css" href="raport-form.css">
</head>
<body>
<center><p id="hello-text"><b>Wszystkie raporty</b></p></center>
<div id="raport-form-wrapper">
   <center> <table class="text-list">
    <form action="/allRaport" method="post" id="raport-form">
        <div th:each="raport : ${allRaport}">
        <td>  <div  th:text="'Login: '+${raport.login}"></div></td>
           <td>  <div  th:text="'PointOfSales: '+${raport.pointOfSales}"></div></td>
              <td>   <div  th:text="'WhenWasLogged: '+${raport.whenWasLogged}"></div></td><tr></tr>
        </div>
    </form>
    </table></center></div>
</body>
</html>