<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Wszystkie Pytania</title>
    <link rel="stylesheet" href="index.css">
</head>
<body >

    <div >
        siema


            <div th:text="'userID: '+${userID}"></div>
            <div th:text="'salesPerDay: '+${salesPerDay}"></div>
            <div th:text="'salesPerMonth: '+${salesPerMonth}"></div>





<form method="get" id="heniek" >
    <button formaction="/home">Wróć do Menu</button>
</form>
    </center>
    </div>


</body>
</html>