<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>mainSite</title>
    <link rel="stylesheet" type="text/css" href="mainPage-form.css">
</head>
<body>
<form action="/mainPage" method="post" id="mainPage-form">
<div>
    <img src="logo.png" alt="Logo" class="logo">
</div><br>


<a href="/reportThatYouCanSeePage" class="clickbtn">ReportThatYouCanSee</a><br><br><br>
<a href="/logout" class="buttonLogOut">Wyloguj</a>
</form>
</body>
</html>