<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>salesFromRepository</title>
</head>
<body>
<div th:each="product: ${allProducts}">
    <div th:text="'idPointOfSales: '+${product.idPointOfSales}"></div>
    <div th:text="'productName: '+${product.productName}"></div>
    <div th:text="'amountOfProduct: '+${product.amountOfProduct}"></div>
    <div th:text="'priceForOneProduct: '+${product.priceForOneProduct}"></div>
    <div th:text="'totalPrice: '+${product.totalPrice}"></div>
    <div th:text="'dateOfSell: '+${product.dateOfSell}"></div>
</div>

</body>
</html>